
.first{
    height: 50px;
    width: 100%;
    background-color: white;
    padding:10px 10px;
   margin-bottom: 50px;
}
.firsts{
    height: 50px;
    width: 100%;
    background-color:white;
    padding:10px 10px;
    margin-top: 50px;
}
.dropdown{
    display:inline-flex;
}
.background{
    background-color: gray;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.form-select form-select-sm{
    width: 100px;
}
.module{
    padding: 0px 230px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}